<h1>Mr. Cocktails</h1>

<div class="container-fluid">
  <div class="row">
    <% @cocktails.each do |cocktail| %>
      <div class="col-xs-12 col-sm-4">

        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path cocktail.photo? ? cocktail.photo : "pexels-photo-109275_ockuej", height: 300, width: 400, crop: :fill %>');">
          <a class="card-link" href=<%= cocktail_path(cocktail) %> ></a>
          <div class="card-category">Trendy</div>
          <div class="card-description">
            <h2><%= cocktail.name %></h2>
            <%= link_to "See details", cocktail_path(cocktail), class: "btn btn-view" %>

          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<div class="btn create-cocktail-btn">
<%= link_to 'Create a cocktail', new_cocktail_path %>
</div>

